.container {
  text-align: center;
  padding: 0.7rem;
  .breadcrumb {
    margin-top: 0.45rem;
    margin-bottom: 0;
    font-weight: 500;

    @media (orientation: landscape) {
      text-align: left;
      padding-left: 1rem;
    }

    &.nextStage {
      margin-top: 1rem;
    }
  }
}
