.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  .breadcrumb {
    margin-top: 0.45rem;
    margin-bottom: 0;
    font-size: 0.8rem;
    font-weight: 500;
    font-size: 1rem;

    @media (orientation: landscape) {
      text-align: left;
      padding-left: 1rem;
    }

    &.nextStage {
      margin-top: 0.1rem;
      font-size: 0.6rem;
    }
  }
}
