@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Inter:wght@400;500;600&family=Noto+Serif+Armenian:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Kotayk';
  src: url('../assets/fonts/fonter.am_kotayk/Kotayk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kotayk';
  src: url('../assets/fonts/fonter.am_kotayk/Kotayk-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Oldtimer';
  src: url('../assets/fonts/fonter.am_oldtimer/Oldtimer.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NasaFont';
  src: url('../assets/fonts/fonter.am_nasa-font/TTF/NasaFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BraindYerevan';
  src: url('../assets/fonts/fonter.am_braind-yerevan/BraindYerevan.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Adamathuz';
  src: url('../assets/fonts/fonter.am_adamathuz/Adamathuz-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.app-title {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-top: 32px;
  color: #ffffff;
  margin: 0;
  text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.8rem;
    background: #575757b1;
    z-index: -1;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
  user-select: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
button,
.ant-typography,
div,
span,
a {
  letter-spacing: 2px;
  line-height: 1.8;
  font-family: 'Oldtimer', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

.app {
  box-sizing: border-box;
  height: 100vh;
  color: var(--secondary-color);
}

.ant-notification-notice-message,
.ant-notification-notice-description {
  margin-left: 0 !important;
}

.ant-modal-title {
  margin-top: 16px !important;
}

.ant-modal-content {
  box-sizing: border-box !important;
}

.ant-form-item {
  margin-bottom: 0 !important;
}

.ant-select-selector,
.ant-checkbox-inner {
  background-color: transparent !important;
  border: 1px solid #575757 !important;
}

.ant-radio-button-wrapper {
  font-size: 0.8rem !important;
  background-color: transparent !important;
}

.ant-radio-button-wrapper-checked,
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #575757 !important;
  border-color: #575757 !important;
}

.ant-radio-button-wrapper-checked::before {
  background-color: #575757 !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.ant-radio-button-wrapper-checked,
.ant-radio-button-wrapper,
.ant-input-number-outlined {
  border-color: #575757 !important;
}

.ant-statistic-content {
  color: #575757 !important;
}

.ant-btn-icon.ant-btn-loading-icon {
  margin-right: 12px;
}

.ant-select-item-option-selected {
  background-color: #57575712 !important;
  color: #575757 !important;
}

.ant-select-dropdown .ant-select-item {
  border-bottom: 1px solid #575757 !important;
  border-radius: 0 !important;
}

.ant-btn::after {
  display: none !important;
}
