.container {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    
    .breadcrumb {
        margin-top: .45rem;
        margin-bottom: 0;
        font-size: .8rem;
        font-weight: 500;
    }
}